[Desktop Entry]
Name=LookingGlass Client
Exec=/usr/bin/looking-glass-client
Icon=looking-glass-client
StartupNotify=true
Terminal=false
Type=Application
MimeType=application/system